<body class="nav-body">
  <main>
    <nav class="nav">
  <ul>

    {{#if user}}


        <li class="{{#if isDashboard}}active{{/if}}">
            <a href="/dashboard">Dashboard</a>
        </li>

        <li>
          <a href="/logout">Logout</a>
        </li>

    {{else}}
      

        <li class="{{#if isLogin}}active{{/if}}">
          <a href="/login">Login</a>
        </li>

        <li class="{{#if isRegister}}active{{/if}}">
          <a href="/register">Register</a>
        </li>

    {{/if}}

  </ul>
</nav>
  </main>
</body>