<head>
    <title>{{title}}</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
{{!-- <link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css"> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="icon" href="/images/A.png">
{{!--
<link rel="stylesheet" href="/css/navbar.css"> --}}
<link rel="stylesheet" href="/css/style.css">

<body>

    <div class="card-design">
        <div class="card-design-container">
            <div class="form-box" id="404-form">

                 <h1><i class="fa-solid fa-triangle-exclamation"></i> {{title}}</h1>

                <h5>Oops! Page Not Found </h5>

                <p>The page you are looking for doesn't exist or has been moved.</p>

                <a href="/" class="btn btn-primary">
                    Go Home
                </a>

            </div>
        </div>
    </div>
</body>

</html>