
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    
    {{!-- <link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css"> --}}
    <link rel="icon" href="/images/A.png">
     <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/toast.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>
</head>
<body>
    <div class="Forgetpassword-page">
        <div class="Forgetpassword-container">
            <div class="form-box" id="Forgetpassword-form">
        <h1>Forgot Password</h1>

<form id="forgotForm" action="/auth/forgot-password" method="POST">
    <input
        type="email"
        name="email"
        placeholder="Enter your email"
        required>

    <button id="forgotBtn" type="submit">
        Send Reset Link
    </button>

</form>
            </div>
        </div>   
    </div>

{{> toast}}

    <script src="/js/toast.js"></script>
    <script src="/js/form-loader.js"></script>

    <script>
    setupLoadingButton(
        "forgotForm",
        "forgotBtn",
        "Sending Email..."
    );
    </script>
</body>
</html>