<h1>Reset Password</h1>

{{#if message}}
    <p style="color: red;">{{message}}</p>
{{/if}}

<form action="/auth/reset-password/{{token}}" method="POST">

    <input
        type="password"
        name="password"
        placeholder="New Password"
        required>

    <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
        required>

    <button>
        Reset Password
    </button>

</form>