nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: red;
    background-color: antiquewhite;
    margin-bottom: 10px;
}
nav ul{
    display: flex;
justify-content: space-around;
align-items: center;
}
nav li {
    list-style: none;
    margin-right: 5px;
}
nav li a{
    text-decoration: none;
    background-color: aqua;
    font-weight: bold;
    padding: 5px 10px;
}
nav li a:hover{
    color: red;
    background-color: salmon;
}
.login{
margin: 50px;
}
